body {
    position: relative;
    height: fit-content;
}

@media only screen and (min-width:1440px) {
    .projects-div {
     position: absolute;
     width: 100%;
     height: 1346px;
     left: 0;
     }
 
     .farmer-div-1 img{
     position: absolute;
     width: 35.20%;
     height: 30.06%;
     left: 2.61%;
     top: 3%;
     border-radius: 20px;
     }
   
     .farmer-div-1 h1 {
     position: absolute;
     width: 26.15%;
     height: 7.03%;
     left: 5.21%;
     top: 28.91%;
     font: normal bold 36px/70px Roboto;
     color: #000000;
     }
   
     .farmer-div-1 p {
     position: absolute;
     width: 26.37%;
     height: 5.23%;
     left: 5.21%;
     top: 33.43%;
     font: normal normal 20px/30px Roboto;
     color: #94B397;
     }
   
     .farmer-div-1 h3 {
     position: absolute;
     width: 24.79%;
     height: 2.5%;
     left: 5.21%;
     top: 38.67%;
     font: normal normal 20px/30px Roboto;
     color: #3E5140;
     }
   
     .farmer-div-1 h5 {
     position: absolute;
     width: 26.79%;
     height: 2.5%;
     left: 5.21%;
     top: 42.72%;
     font: normal normal 14px/30px Roboto;
     color: #3E5140;
     }
     
     .farmer-div-2 img{
     position: absolute;
     width: 35.20%;
     height: 30.06%;
     left: 34.84%;
     top: 3%;
     border-radius: 20px;
     }
   
     .farmer-div-2 h1 {
     position: absolute;
     width: 26.15%;
     height: 7.03%;
     left: 37.40%;
     top: 28.91%;
     font: normal bold 36px/70px Roboto;
     color: #000000;
     }
   
     .farmer-div-2 p {
     position: absolute;
     width: 26.37%;
     height: 5.23%;
     left: 37.40%;
     top: 33.44%;
     font: normal normal 20px/30px Roboto;
     color: #94B397;
     }
   
     .farmer-div-2 h3 {
     position: absolute;
     width: 24.79%;
     height: 2.5%;
     left: 37.40%;
     top: 38.67%;
     font: normal normal 20px/30px Roboto;
     color: #3E5140;
     }
   
     .farmer-div-2 h5 {
     position: absolute;
     width: 26.79%;
     height: 2.5%;
     left: 37.40%;
     top: 42.72%;
     font: normal normal 14px/30px Roboto;
     color: #3E5140;
     }
     
     .farmer-div-3 img{
     position: absolute;
     width: 35.20%;
     height: 30.06%;
     left:67.21%;
     top: 3%;
     border-radius: 20px;
     }
   
     .farmer-div-3 h1 {
     position: absolute;
     width: 26.15%;
     height: 7.03%;
     left:69.91%;
     top: 28.91%;
     font: normal bold 36px/70px Roboto;
     color: #000000;
     }
   
     .farmer-div-3 p {
     position: absolute;
     width: 26.37%;
     height: 5.23%;
     left:69.91%;
     top: 33.44%;
     font: normal normal 20px/30px Roboto;
     color: #94B397;
     }
   
     .farmer-div-3 h3 {
     position: absolute;
     width: 24.79%;
     height: 2.5%;
     left:69.91%;
     top: 38.67%;
     font: normal normal 20px/30px Roboto;
     color: #3E5140;
     }
   
     .farmer-div-3 h5 {
     position: absolute;
     width: 26.79%;
     height: 2.5%;
     left:69.91%;
     top: 42.72%;
     font: normal normal 14px/30px Roboto;
     color: #3E5140;
     }
     
     .farmer-div-4 img{
     position: absolute;
     width: 35.20%;
     height: 30.06%;
     left: 2.61%;
     top: 56.02%;
     border-radius: 20px;
     }
   
     .farmer-div-4 h1 {
     position: absolute;
     width: 26.15%;
     height: 7.03%;
     left: 5.21%;
     top: 81.93%;
     font: normal bold 36px/70px Roboto;
     color: #000000;
     }
   
     .farmer-div-4 p {
     position: absolute;
     width: 26.37%;
     height: 5.23%;
     left: 5.21%;
     top: 86.46%;
     font: normal normal 20px/30px Roboto;
     color: #94B397;
     }
   
     .farmer-div-4 h3 {
     position: absolute;
     width: 24.79%;
     height: 2.5%;
     left: 5.21%;
     top: 91.69%;
     font: normal normal 20px/30px Roboto;
     color: #3E5140;
     }
   
     .farmer-div-4 h5 {
     position: absolute;
     width: 26.79%;
     height: 2.5%;
     left: 5.21%;
     top: 95.74%;
     font: normal normal 14px/30px Roboto;
     color: #3E5140;
     }
     
     .farmer-div-5 img{
     position: absolute;
     width: 35.20%;
     height: 30.06%;
     left: 34.84%;
     top: 56.02%;
     border-radius: 20px;
     }
   
     .farmer-div-5 h1 {
     position: absolute;
     width: 26.15%;
     height: 7.03%;
     left: 37.40%;
     top: 81.93%;
     font: normal bold 36px/70px Roboto;
     color: #000000;
     }
   
     .farmer-div-5 p {
     position: absolute;
     width: 26.37%;
     height: 5.23%;
     left: 37.40%;
     top: 86.46%;
     font: normal normal 20px/30px Roboto;
     color: #94B397;
     }
   
     .farmer-div-5 h3 {
     position: absolute;
     width: 24.79%;
     height: 2.5%;
     left: 37.40%;
     top: 91.69%;
     font: normal normal 20px/30px Roboto;
     color: #3E5140;
     }
   
     .farmer-div-5 h5 {
     position: absolute;
     width: 26.79%;
     height: 2.5%;
     left: 37.40%;
     top: 95.74%;
     font: normal normal 14px/30px Roboto;
     color: #3E5140;
     }
     
     .farmer-div-6 img{
     position: absolute;
     width: 35.20%;
     height: 30.06%;
     left:67.21%;
     top: 56.02%;
     border-radius: 20px;
     }
   
     .farmer-div-6 h1 {
     position: absolute;
     width: 26.15%;
     height: 7.03%;
     left:69.91%;
     top: 81.93%;
     font: normal bold 36px/70px Roboto;
     color: #000000;
     }
   
     .farmer-div-6 p {
     position: absolute;
     width: 26.37%;
     height: 5.23%;
     left:69.91%;
     top: 86.46%;
     font: normal normal 20px/30px Roboto;
     color: #94B397;
     }
   
     .farmer-div-6 h3 {
     position: absolute;
     width: 24.79%;
     height: 2.5%;
     left:69.91%;
     top: 91.69%;
     font: normal normal 20px/30px Roboto;
     color: #3E5140;
     }
   
     .farmer-div-6 h5 {
     position: absolute;
     width: 26.79%;
     height: 2.5%;
     left: 69.91%;
     top: 95.74%;
     font: normal normal 14px/30px Roboto;
     color: #3E5140;
     }
 }

@media only screen and (min-width:1200px) and (max-width:1440px) {
   .projects-div {
    position: absolute;
    width: 100%;
    height: 1346px;
    left: 0;
    }

    .farmer-div-1 img{
    position: absolute;
    width: 35.20%;
    height: 30.06%;
    left: 2.61%;
    top: 3%;
    border-radius: 20px;
    }
  
    .farmer-div-1 h1 {
    position: absolute;
    width: 26.15%;
    height: 7.03%;
    left: 5.21%;
    top: 28.91%;
    font: normal bold 36px/70px Roboto;
    color: #000000;
    }
  
    .farmer-div-1 p {
    position: absolute;
    width: 26.37%;
    height: 5.23%;
    left: 5.21%;
    top: 33.43%;
    font: normal normal 20px/30px Roboto;
    color: #94B397;
    }
  
    .farmer-div-1 h3 {
    position: absolute;
    width: 24.79%;
    height: 2.5%;
    left: 5.21%;
    top: 38.67%;
    font: normal normal 20px/30px Roboto;
    color: #3E5140;
    }
  
    .farmer-div-1 h5 {
    position: absolute;
    width: 26.79%;
    height: 2.5%;
    left: 5.21%;
    top: 42.72%;
    font: normal normal 14px/30px Roboto;
    color: #3E5140;
    }
    
    .farmer-div-2 img{
    position: absolute;
    width: 35.20%;
    height: 30.06%;
    left: 34.84%;
    top: 3%;
    border-radius: 20px;
    }
  
    .farmer-div-2 h1 {
    position: absolute;
    width: 26.15%;
    height: 7.03%;
    left: 37.40%;
    top: 28.91%;
    font: normal bold 36px/70px Roboto;
    color: #000000;
    }
  
    .farmer-div-2 p {
    position: absolute;
    width: 26.37%;
    height: 5.23%;
    left: 37.40%;
    top: 33.44%;
    font: normal normal 20px/30px Roboto;
    color: #94B397;
    }
  
    .farmer-div-2 h3 {
    position: absolute;
    width: 24.79%;
    height: 2.5%;
    left: 37.40%;
    top: 38.67%;
    font: normal normal 20px/30px Roboto;
    color: #3E5140;
    }
  
    .farmer-div-2 h5 {
    position: absolute;
    width: 26.79%;
    height: 2.5%;
    left: 37.40%;
    top: 42.72%;
    font: normal normal 14px/30px Roboto;
    color: #3E5140;
    }
    
    .farmer-div-3 img{
    position: absolute;
    width: 35.20%;
    height: 30.06%;
    left:67.21%;
    top: 3%;
    border-radius: 20px;
    }
  
    .farmer-div-3 h1 {
    position: absolute;
    width: 26.15%;
    height: 7.03%;
    left:69.91%;
    top: 28.91%;
    font: normal bold 36px/70px Roboto;
    color: #000000;
    }
  
    .farmer-div-3 p {
    position: absolute;
    width: 26.37%;
    height: 5.23%;
    left:69.91%;
    top: 33.44%;
    font: normal normal 20px/30px Roboto;
    color: #94B397;
    }
  
    .farmer-div-3 h3 {
    position: absolute;
    width: 24.79%;
    height: 2.5%;
    left:69.91%;
    top: 38.67%;
    font: normal normal 20px/30px Roboto;
    color: #3E5140;
    }
  
    .farmer-div-3 h5 {
    position: absolute;
    width: 26.79%;
    height: 2.5%;
    left:69.91%;
    top: 42.72%;
    font: normal normal 14px/30px Roboto;
    color: #3E5140;
    }
    
    .farmer-div-4 img{
    position: absolute;
    width: 35.20%;
    height: 30.06%;
    left: 2.61%;
    top: 56.02%;
    border-radius: 20px;
    }
  
    .farmer-div-4 h1 {
    position: absolute;
    width: 26.15%;
    height: 7.03%;
    left: 5.21%;
    top: 81.93%;
    font: normal bold 36px/70px Roboto;
    color: #000000;
    }
  
    .farmer-div-4 p {
    position: absolute;
    width: 26.37%;
    height: 5.23%;
    left: 5.21%;
    top: 86.46%;
    font: normal normal 20px/30px Roboto;
    color: #94B397;
    }
  
    .farmer-div-4 h3 {
    position: absolute;
    width: 24.79%;
    height: 2.5%;
    left: 5.21%;
    top: 91.69%;
    font: normal normal 20px/30px Roboto;
    color: #3E5140;
    }
  
    .farmer-div-4 h5 {
    position: absolute;
    width: 26.79%;
    height: 2.5%;
    left: 5.21%;
    top: 95.74%;
    font: normal normal 14px/30px Roboto;
    color: #3E5140;
    }
    
    .farmer-div-5 img{
    position: absolute;
    width: 35.20%;
    height: 30.06%;
    left: 34.84%;
    top: 56.02%;
    border-radius: 20px;
    }
  
    .farmer-div-5 h1 {
    position: absolute;
    width: 26.15%;
    height: 7.03%;
    left: 37.40%;
    top: 81.93%;
    font: normal bold 36px/70px Roboto;
    color: #000000;
    }
  
    .farmer-div-5 p {
    position: absolute;
    width: 26.37%;
    height: 5.23%;
    left: 37.40%;
    top: 86.46%;
    font: normal normal 20px/30px Roboto;
    color: #94B397;
    }
  
    .farmer-div-5 h3 {
    position: absolute;
    width: 24.79%;
    height: 2.5%;
    left: 37.40%;
    top: 91.69%;
    font: normal normal 20px/30px Roboto;
    color: #3E5140;
    }
  
    .farmer-div-5 h5 {
    position: absolute;
    width: 26.79%;
    height: 2.5%;
    left: 37.40%;
    top: 95.74%;
    font: normal normal 14px/30px Roboto;
    color: #3E5140;
    }
    
    .farmer-div-6 img{
    position: absolute;
    width: 35.20%;
    height: 30.06%;
    left:67.21%;
    top: 56.02%;
    border-radius: 20px;
    }
  
    .farmer-div-6 h1 {
    position: absolute;
    width: 26.15%;
    height: 7.03%;
    left:69.91%;
    top: 81.93%;
    font: normal bold 36px/70px Roboto;
    color: #000000;
    }
  
    .farmer-div-6 p {
    position: absolute;
    width: 26.37%;
    height: 5.23%;
    left:69.91%;
    top: 86.46%;
    font: normal normal 20px/30px Roboto;
    color: #94B397;
    }
  
    .farmer-div-6 h3 {
    position: absolute;
    width: 24.79%;
    height: 2.5%;
    left:69.91%;
    top: 91.69%;
    font: normal normal 20px/30px Roboto;
    color: #3E5140;
    }
  
    .farmer-div-6 h5 {
    position: absolute;
    width: 26.79%;
    height: 2.5%;
    left: 69.91%;
    top: 95.74%;
    font: normal normal 14px/30px Roboto;
    color: #3E5140;
    }
}

@media only screen and (min-width:800px) and (max-width:1199px) {
    .projects-div {
     position: absolute;
     width: 100%;
     height: 1346px;
     left: 0;
     }
 
     .farmer-div-1 img{
     position: absolute;
     width: 47.20%;
     height: 30.06%;
     left: 2.61%;
     top: 3%;
     border-radius: 20px;
     }
   
     .farmer-div-1 h1 {
     position: absolute;
     width: 28.15%;
     height: 7.03%;
     left: 6.21%;
     top: 28.91%;
     font: normal bold 36px/70px Roboto;
     color: #000000;
     }
   
     .farmer-div-1 p {
     position: absolute;
     width: 29.37%;
     height: 5.23%;
     left: 6.21%;
     top: 31.43%;
     font: normal normal 20px/30px Roboto;
     color: #94B397;
     }
   
     .farmer-div-1 h3 {
     position: absolute;
     width: 34.79%;
     height: 2.5%;
     left: 6.21%;
     top: 36.67%;
     font: normal normal 20px/30px Roboto;
     color: #3E5140;
     }
   
     .farmer-div-1 h5 {
     position: absolute;
     width: 26.79%;
     height: 2.5%;
     left: 6.21%;
     top: 40.72%;
     font: normal normal 14px/30px Roboto;
     color: #3E5140;
     }
     
     .farmer-div-2 img{
     position: absolute;
     width: 47.20%;
     height: 30.06%;
     left: 46.54%;
     top: 3%;
     border-radius: 20px;
     }
   
     .farmer-div-2 h1 {
     position: absolute;
     width: 34.15%;
     height: 7.03%;
     left: 50.14%;
     top: 28.91%;
     font: normal bold 36px/70px Roboto;
     color: #000000;
     }
   
     .farmer-div-2 p {
     position: absolute;
     width: 29.37%;
     height: 5.23%;
     left: 50.14%;
     top: 31.44%;
     font: normal normal 20px/30px Roboto;
     color: #94B397;
     }
   
     .farmer-div-2 h3 {
     position: absolute;
     width: 34.79%;
     height: 2.5%;
     left: 50.14%;
     top: 36.67%;
     font: normal normal 20px/30px Roboto;
     color: #3E5140;
     }
   
     .farmer-div-2 h5 {
     position: absolute;
     width: 26.79%;
     height: 2.5%;
     left: 50.14%;
     top: 40.72%;
     font: normal normal 14px/30px Roboto;
     color: #3E5140;
     }
     
     .farmer-div-3 img{
     position: absolute;
     width: 47.20%;
     height: 30.06%;
     left:90.21%;
     top: 3%;
     border-radius: 20px;
     }
   
     .farmer-div-3 h1 {
     position: absolute;
     width: 30.15%;
     height: 7.03%;
     left:93.81%;
     top: 28.91%;
     font: normal bold 36px/70px Roboto;
     color: #000000;
     }
   
     .farmer-div-3 p {
     position: absolute;
     width: 26.37%;
     height: 5.23%;
     left:93.81%;
     top: 31.44%;
     font: normal normal 20px/30px Roboto;
     color: #94B397;
     }
   
     .farmer-div-3 h3 {
     position: absolute;
     width: 34.79%;
     height: 2.5%;
     left:93.81%;
     top: 36.67%;
     font: normal normal 20px/30px Roboto;
     color: #3E5140;
     }
   
     .farmer-div-3 h5 {
     position: absolute;
     width: 26.79%;
     height: 2.5%;
     left:93.81%;
     top: 40.72%;
     font: normal normal 14px/30px Roboto;
     color: #3E5140;
     }
     
     .farmer-div-4 img{
     position: absolute;
     width: 47.20%;
     height: 30.06%;
     left: 2.61%;
     top: 56.02%;
     border-radius: 20px;
     }
   
     .farmer-div-4 h1 {
     position: absolute;
     width: 28.15%;
     height: 7.03%;
     left: 6.21%;
     top: 81.93%;
     font: normal bold 36px/70px Roboto;
     color: #000000;
     }
   
     .farmer-div-4 p {
     position: absolute;
     width: 29.37%;
     height: 5.23%;
     left: 6.21%;
     top: 84.46%;
     font: normal normal 20px/30px Roboto;
     color: #94B397;
     }
   
     .farmer-div-4 h3 {
     position: absolute;
     width: 34.79%;
     height: 2.5%;
     left: 6.21%;
     top: 89.69%;
     font: normal normal 20px/30px Roboto;
     color: #3E5140;
     }
   
     .farmer-div-4 h5 {
     position: absolute;
     width: 26.79%;
     height: 2.5%;
     left: 6.21%;
     top: 93.74%;
     font: normal normal 14px/30px Roboto;
     color: #3E5140;
     }
     
     .farmer-div-5 img{
     position: absolute;
     width: 47.20%;
     height: 30.06%;
     left: 46.54%;
     top: 56.02%;
     border-radius: 20px;
     }
   
     .farmer-div-5 h1 {
     position: absolute;
     width: 30.15%;
     height: 7.03%;
     left: 50.14%;
     top: 81.93%;
     font: normal bold 36px/70px Roboto;
     color: #000000;
     }
   
     .farmer-div-5 p {
     position: absolute;
     width: 29.37%;
     height: 5.23%;
     left: 50.14%;
     top: 84.46%;
     font: normal normal 20px/30px Roboto;
     color: #94B397;
     }
   
     .farmer-div-5 h3 {
     position: absolute;
     width: 34.79%;
     height: 2.5%;
     left: 50.14%;
     top: 89.69%;
     font: normal normal 20px/30px Roboto;
     color: #3E5140;
     }
   
     .farmer-div-5 h5 {
     position: absolute;
     width: 26.79%;
     height: 2.5%;
     left: 50.14%;
     top: 93.74%;
     font: normal normal 14px/30px Roboto;
     color: #3E5140;
     }
     
     .farmer-div-6 img{
     position: absolute;
     width: 47.20%;
     height: 30.06%;
     left:90.21%;
     top: 56.02%;
     border-radius: 20px;
     }
   
     .farmer-div-6 h1 {
     position: absolute;
     width: 34.15%;
     height: 7.03%;
     left:93.81%;
     top: 81.93%;
     font: normal bold 36px/70px Roboto;
     color: #000000;
     }
   
     .farmer-div-6 p {
     position: absolute;
     width: 29.37%;
     height: 5.23%;
     left:93.81%;
     top: 84.46%;
     font: normal normal 20px/30px Roboto;
     color: #94B397;
     }
   
     .farmer-div-6 h3 {
     position: absolute;
     width: 34.79%;
     height: 2.5%;
     left:93.81%;
     top: 89.69%;
     font: normal normal 20px/30px Roboto;
     color: #3E5140;
     }
   
     .farmer-div-6 h5 {
     position: absolute;
     width: 26.79%;
     height: 2.5%;
     left:93.81%;
     top: 93.74%;
     font: normal normal 14px/30px Roboto;
     color: #3E5140;
     }
 }
 
@media only screen and (min-width:768px) and (max-width:799px) {
    .projects-div {
    position: absolute;
    width: 100%;
    height: 1900px;
    left: 0;
    }

    .farmer-div-1 img{
    position: absolute;
    width: 61.20%;
    height: 30.06%;
    left: 2.61%;
    top: 4%;
    border-radius: 20px;
    }

    .farmer-div-1 h1 {
    position: absolute;
    width: 38.15%;
    height: 7.03%;
    left: 7.61%;
    top: 28.91%;
    font: normal bold 36px/70px Roboto;
    color: #000000;
    }

    .farmer-div-1 p {
    position: absolute;
    width: 39.37%;
    height: 5.23%;
    left: 7.61%;
    top: 31.43%;
    font: normal normal 20px/30px Roboto;
    color: #94B397;
    }

    .farmer-div-1 h3 {
    position: absolute;
    width: 44.79%;
    height: 2.5%;
    left: 7.61%;
    top: 36.67%;
    font: normal normal 20px/30px Roboto;
    color: #3E5140;
    }

    .farmer-div-1 h5 {
    position: absolute;
    width: 26.79%;
    height: 2.5%;
    left: 7.61%;
    top: 40.72%;
    font: normal normal 14px/30px Roboto;
    color: #3E5140;
    }
    
    .farmer-div-2 img{
    position: absolute;
    width: 61.20%;
    height: 30.06%;
    left: 61.24%;
    top: 3%;
    border-radius: 20px;
    }

    .farmer-div-2 h1 {
    position: absolute;
    width: 45.15%;
    height: 7.03%;
    left: 66.24%;
    top: 28.91%;
    font: normal bold 36px/70px Roboto;
    color: #000000;
    }

    .farmer-div-2 p {
    position: absolute;
    width: 39.37%;
    height: 5.23%;
    left: 66.24%;
    top: 31.44%;
    font: normal normal 20px/30px Roboto;
    color: #94B397;
    }

    .farmer-div-2 h3 {
    position: absolute;
    width: 44.79%;
    height: 2.5%;
    left: 66.24%;
    top: 36.67%;
    font: normal normal 20px/30px Roboto;
    color: #3E5140;
    }

    .farmer-div-2 h5 {
    position: absolute;
    width: 26.79%;
    height: 2.5%;
    left: 66.24%;
    top: 40.72%;
    font: normal normal 14px/30px Roboto;
    color: #3E5140;
    }
    
    .farmer-div-3 img{
    position: absolute;
    width: 61.20%;
    height: 30.06%;
    left:119.21%;
    top: 3%;
    border-radius: 20px;
    }

    .farmer-div-3 h1 {
    position: absolute;
    width: 45.15%;
    height: 7.03%;
    left:124.61%;
    top: 28.91%;
    font: normal bold 36px/70px Roboto;
    color: #000000;
    }

    .farmer-div-3 p {
    position: absolute;
    width: 39.37%;
    height: 5.23%;
    left:124.61%;
    top: 31.44%;
    font: normal normal 20px/30px Roboto;
    color: #94B397;
    }

    .farmer-div-3 h3 {
    position: absolute;
    width: 44.79%;
    height: 2.5%;
    left:124.61%;
    top: 36.67%;
    font: normal normal 20px/30px Roboto;
    color: #3E5140;
    }

    .farmer-div-3 h5 {
    position: absolute;
    width: 26.79%;
    height: 2.5%;
    left:124.61%;
    top: 40.72%;
    font: normal normal 14px/30px Roboto;
    color: #3E5140;
    }
    
    .farmer-div-4 img{
    position: absolute;
    width: 61.20%;
    height: 30.06%;
    left: 2.61%;
    top: 56.02%;
    border-radius: 20px;
    }

    .farmer-div-4 h1 {
    position: absolute;
    width: 45.15%;
    height: 7.03%;
    left: 7.61%;
    top: 81.93%;
    font: normal bold 36px/70px Roboto;
    color: #000000;
    }

    .farmer-div-4 p {
    position: absolute;
    width: 39.37%;
    height: 5.23%;
    left: 7.61%;
    top: 84.46%;
    font: normal normal 20px/30px Roboto;
    color: #94B397;
    }

    .farmer-div-4 h3 {
    position: absolute;
    width: 44.79%;
    height: 2.5%;
    left: 7.61%;
    top: 89.69%;
    font: normal normal 20px/30px Roboto;
    color: #3E5140;
    }

    .farmer-div-4 h5 {
    position: absolute;
    width: 26.79%;
    height: 2.5%;
    left: 7.61%;
    top: 93.74%;
    font: normal normal 14px/30px Roboto;
    color: #3E5140;
    }
    
    .farmer-div-5 img{
    position: absolute;
    width: 61.20%;
    height: 30.06%;
    left: 61.24%;
    top: 56.02%;
    border-radius: 20px;
    }

    .farmer-div-5 h1 {
    position: absolute;
    width: 45.15%;
    height: 7.03%;
    left: 66.24%;
    top: 81.93%;
    font: normal bold 36px/70px Roboto;
    color: #000000;
    }

    .farmer-div-5 p {
    position: absolute;
    width: 39.37%;
    height: 5.23%;
    left: 66.24%;
    top: 84.46%;
    font: normal normal 20px/30px Roboto;
    color: #94B397;
    }

    .farmer-div-5 h3 {
    position: absolute;
    width: 44.79%;
    height: 2.5%;
    left: 66.24%;
    top: 89.69%;
    font: normal normal 20px/30px Roboto;
    color: #3E5140;
    }

    .farmer-div-5 h5 {
    position: absolute;
    width: 26.79%;
    height: 2.5%;
    left: 66.24%;
    top: 93.74%;
    font: normal normal 14px/30px Roboto;
    color: #3E5140;
    }
    
    .farmer-div-6 img{
    position: absolute;
    width: 61.20%;
    height: 30.06%;
    left:119.21%;
    top: 56.02%;
    border-radius: 20px;
    }

    .farmer-div-6 h1 {
    position: absolute;
    width: 45.15%;
    height: 7.03%;
    left:124.61%;
    top: 81.93%;
    font: normal bold 36px/70px Roboto;
    color: #000000;
    }

    .farmer-div-6 p {
    position: absolute;
    width: 39.37%;
    height: 5.23%;
    left:124.61%;
    top: 84.46%;
    font: normal normal 20px/30px Roboto;
    color: #94B397;
    }

    .farmer-div-6 h3 {
    position: absolute;
    width: 44.79%;
    height: 2.5%;
    left:124.61%;
    top: 89.69%;
    font: normal normal 20px/30px Roboto;
    color: #3E5140;
    }

    .farmer-div-6 h5 {
    position: absolute;
    width: 26.79%;
    height: 2.5%;
    left:124.61%;
    top: 93.74%;
    font: normal normal 14px/30px Roboto;
    color: #3E5140;
    }
}

@media only screen and (min-width:768px) and (max-width:799px) {
    .projects-div {
    position: absolute;
    width: 100%;
    height: 1900px;
    left: 0;
    }

    .farmer-div-1 img{
    position: absolute;
    width: 61.20%;
    height: 30.06%;
    left: 2.61%;
    top: 4%;
    border-radius: 20px;
    }

    .farmer-div-1 h1 {
    position: absolute;
    width: 38.15%;
    height: 7.03%;
    left: 7.61%;
    top: 28.91%;
    font: normal bold 36px/70px Roboto;
    color: #000000;
    }

    .farmer-div-1 p {
    position: absolute;
    width: 39.37%;
    height: 5.23%;
    left: 7.61%;
    top: 31.43%;
    font: normal normal 20px/30px Roboto;
    color: #94B397;
    }

    .farmer-div-1 h3 {
    position: absolute;
    width: 44.79%;
    height: 2.5%;
    left: 7.61%;
    top: 36.67%;
    font: normal normal 20px/30px Roboto;
    color: #3E5140;
    }

    .farmer-div-1 h5 {
    position: absolute;
    width: 26.79%;
    height: 2.5%;
    left: 7.61%;
    top: 40.72%;
    font: normal normal 14px/30px Roboto;
    color: #3E5140;
    }
    
    .farmer-div-2 img{
    position: absolute;
    width: 61.20%;
    height: 30.06%;
    left: 61.24%;
    top: 3%;
    border-radius: 20px;
    }

    .farmer-div-2 h1 {
    position: absolute;
    width: 45.15%;
    height: 7.03%;
    left: 66.24%;
    top: 28.91%;
    font: normal bold 36px/70px Roboto;
    color: #000000;
    }

    .farmer-div-2 p {
    position: absolute;
    width: 39.37%;
    height: 5.23%;
    left: 66.24%;
    top: 31.44%;
    font: normal normal 20px/30px Roboto;
    color: #94B397;
    }

    .farmer-div-2 h3 {
    position: absolute;
    width: 44.79%;
    height: 2.5%;
    left: 66.24%;
    top: 36.67%;
    font: normal normal 20px/30px Roboto;
    color: #3E5140;
    }

    .farmer-div-2 h5 {
    position: absolute;
    width: 26.79%;
    height: 2.5%;
    left: 66.24%;
    top: 40.72%;
    font: normal normal 14px/30px Roboto;
    color: #3E5140;
    }
    
    .farmer-div-3 img{
    position: absolute;
    width: 61.20%;
    height: 30.06%;
    left:119.21%;
    top: 3%;
    border-radius: 20px;
    }

    .farmer-div-3 h1 {
    position: absolute;
    width: 45.15%;
    height: 7.03%;
    left:124.61%;
    top: 28.91%;
    font: normal bold 36px/70px Roboto;
    color: #000000;
    }

    .farmer-div-3 p {
    position: absolute;
    width: 39.37%;
    height: 5.23%;
    left:124.61%;
    top: 31.44%;
    font: normal normal 20px/30px Roboto;
    color: #94B397;
    }

    .farmer-div-3 h3 {
    position: absolute;
    width: 44.79%;
    height: 2.5%;
    left:124.61%;
    top: 36.67%;
    font: normal normal 20px/30px Roboto;
    color: #3E5140;
    }

    .farmer-div-3 h5 {
    position: absolute;
    width: 26.79%;
    height: 2.5%;
    left:124.61%;
    top: 40.72%;
    font: normal normal 14px/30px Roboto;
    color: #3E5140;
    }
    
    .farmer-div-4 img{
    position: absolute;
    width: 61.20%;
    height: 30.06%;
    left: 2.61%;
    top: 56.02%;
    border-radius: 20px;
    }

    .farmer-div-4 h1 {
    position: absolute;
    width: 45.15%;
    height: 7.03%;
    left: 7.61%;
    top: 81.93%;
    font: normal bold 36px/70px Roboto;
    color: #000000;
    }

    .farmer-div-4 p {
    position: absolute;
    width: 39.37%;
    height: 5.23%;
    left: 7.61%;
    top: 84.46%;
    font: normal normal 20px/30px Roboto;
    color: #94B397;
    }

    .farmer-div-4 h3 {
    position: absolute;
    width: 44.79%;
    height: 2.5%;
    left: 7.61%;
    top: 89.69%;
    font: normal normal 20px/30px Roboto;
    color: #3E5140;
    }

    .farmer-div-4 h5 {
    position: absolute;
    width: 26.79%;
    height: 2.5%;
    left: 7.61%;
    top: 93.74%;
    font: normal normal 14px/30px Roboto;
    color: #3E5140;
    }
    
    .farmer-div-5 img{
    position: absolute;
    width: 61.20%;
    height: 30.06%;
    left: 61.24%;
    top: 56.02%;
    border-radius: 20px;
    }

    .farmer-div-5 h1 {
    position: absolute;
    width: 45.15%;
    height: 7.03%;
    left: 66.24%;
    top: 81.93%;
    font: normal bold 36px/70px Roboto;
    color: #000000;
    }

    .farmer-div-5 p {
    position: absolute;
    width: 39.37%;
    height: 5.23%;
    left: 66.24%;
    top: 84.46%;
    font: normal normal 20px/30px Roboto;
    color: #94B397;
    }

    .farmer-div-5 h3 {
    position: absolute;
    width: 44.79%;
    height: 2.5%;
    left: 66.24%;
    top: 89.69%;
    font: normal normal 20px/30px Roboto;
    color: #3E5140;
    }

    .farmer-div-5 h5 {
    position: absolute;
    width: 26.79%;
    height: 2.5%;
    left: 66.24%;
    top: 93.74%;
    font: normal normal 14px/30px Roboto;
    color: #3E5140;
    }
    
    .farmer-div-6 img{
    position: absolute;
    width: 61.20%;
    height: 30.06%;
    left:119.21%;
    top: 56.02%;
    border-radius: 20px;
    }

    .farmer-div-6 h1 {
    position: absolute;
    width: 45.15%;
    height: 7.03%;
    left:124.61%;
    top: 81.93%;
    font: normal bold 36px/70px Roboto;
    color: #000000;
    }

    .farmer-div-6 p {
    position: absolute;
    width: 39.37%;
    height: 5.23%;
    left:124.61%;
    top: 84.46%;
    font: normal normal 20px/30px Roboto;
    color: #94B397;
    }

    .farmer-div-6 h3 {
    position: absolute;
    width: 44.79%;
    height: 2.5%;
    left:124.61%;
    top: 89.69%;
    font: normal normal 20px/30px Roboto;
    color: #3E5140;
    }

    .farmer-div-6 h5 {
    position: absolute;
    width: 26.79%;
    height: 2.5%;
    left:124.61%;
    top: 93.74%;
    font: normal normal 14px/30px Roboto;
    color: #3E5140;
    }
}

@media only screen and (min-width:411px) and (max-width:767px) {
    .projects-div {
    position: absolute;
    width: 50%;
    height: 600px;
    left: 0;
    }

    .farmer-div-1 img{
    position: absolute;
    width: 215%;
    height: 50.06%;
    left: 2.61%;
    top: 0%;
    border-radius: 20px;
    }

    .farmer-div-1 h1 {
    position: absolute;
    width: 200%;
    height: 7.03%;
    left: 24.61%;
    top: 41.91%;
    font: normal bold 36px/70px Roboto;
    color: #000000;
    }

    .farmer-div-1 p {
    position: absolute;
    width: 200%;
    height: 5.23%;
    left: 8.61%;
    top: 49.43%;
    text-align: center;
    font: normal normal 20px/30px Roboto;
    color: #94B397;
    }

    .farmer-div-1 h3 {
    position: absolute;
    width: 200%;
    height: 2.5%;
    left: 10.61%;
    top: 60.67%;
    text-align: center;
    font: normal normal 20px/30px Roboto;
    color: #3E5140;
    }

    .farmer-div-1 h5 {
    position: absolute;
    width: 200%;
    height: 2.5%;
    left: 10.61%;
    top: 69.72%;
    text-align: center;
    font: normal normal 14px/30px Roboto;
    color: #3E5140;
    }
    
    .farmer-div-2 img{
    position: absolute;
    width: 215%;
    height: 50.06%;
    left: 2.61%;
    top: 86%;
    border-radius: 20px;
    }

    .farmer-div-2 h1 {
    position: absolute;
    width: 200%;
    height: 7.03%;
    left: 12.61%;
    top: 127.91%;
    font: normal bold 36px/70px Roboto;
    color: #000000;
    }

    .farmer-div-2 p {
    position: absolute;
    width: 200%;
    height: 5.23%;
    left: 8.61%;
    top: 135.43%;
    text-align: center;
    font: normal normal 20px/30px Roboto;
    color: #94B397;
    }

    .farmer-div-2 h3 {
    position: absolute;
    width: 200%;
    height: 2.5%;
    left: 10.61%;
    top: 146.67%;
    text-align: center;
    font: normal normal 20px/30px Roboto;
    color: #3E5140;
    }

    .farmer-div-2 h5 {
    position: absolute;
    width: 200%;
    height: 2.5%;
    left: 10.61%;
    top: 155.72%;
    text-align: center;
    font: normal normal 14px/30px Roboto;
    color: #3E5140;
    }
    
    .farmer-div-3 img{
    position: absolute;
    width: 215%;
    height: 50.06%;
    left: 2.61%;
    top: 172%;
    border-radius: 20px;
    }

    .farmer-div-3 h1 {
    position: absolute;
    width: 200%;
    height: 7.03%;
    left: 20.61%;
    top: 213.91%;
    font: normal bold 36px/70px Roboto;
    color: #000000;
    }

    .farmer-div-3 p {
    position: absolute;
    width: 200%;
    height: 5.23%;
    left: 10.61%;
    top: 221.43%;
    text-align: center;
    font: normal normal 20px/30px Roboto;
    color: #94B397;
    }

    .farmer-div-3 h3 {
    position: absolute;
    width: 200%;
    height: 2.5%;
    left: 10.61%;
    top: 232.67%;
    text-align: center;
    font: normal normal 20px/30px Roboto;
    color: #3E5140;
    }

    .farmer-div-3 h5 {
    position: absolute;
    width: 200%;
    height: 2.5%;
    left: 10.61%;
    top: 241.72%;
    text-align: center;
    font: normal normal 14px/30px Roboto;
    color: #3E5140;
    }
    
    .farmer-div-4 img{
    position: absolute;
    width: 215%;
    height: 50.06%;
    left: 2.61%;
    top: 258%;
    border-radius: 20px;
    }

    .farmer-div-4 h1 {
    position: absolute;
    width: 200%;
    height: 7.03%;
    left: 25.61%;
    top: 299.91%;
    font: normal bold 36px/70px Roboto;
    color: #000000;
    }

    .farmer-div-4 p {
    position: absolute;
    width: 200%;
    height: 5.23%;
    left: 10.61%;
    top: 307.43%;
    text-align: center;
    font: normal normal 20px/30px Roboto;
    color: #94B397;
    }

    .farmer-div-4 h3 {
    position: absolute;
    width: 200%;
    height: 2.5%;
    left: 9.61%;
    top: 318.67%;
    text-align: center;
    font: normal normal 20px/30px Roboto;
    color: #3E5140;
    }

    .farmer-div-4 h5 {
    position: absolute;
    width: 200%;
    height: 2.5%;
    left: 10.61%;
    top: 327.72%;
    text-align: center;
    font: normal normal 14px/30px Roboto;
    color: #3E5140;
    }
    
    .farmer-div-5 img{
    position: absolute;
    width: 215%;
    height: 50.06%;
    left: 2.61%;
    top: 344%;
    border-radius: 20px;
    }

    .farmer-div-5 h1 {
    position: absolute;
    width: 200%;
    height: 7.03%;
    left: 20.61%;
    top: 385.91%;
    font: normal bold 36px/70px Roboto;
    color: #000000;
    }

    .farmer-div-5 p {
    position: absolute;
    width: 200%;
    height: 5.23%;
    left: 10.61%;
    top: 393.43%;
    text-align: center;
    font: normal normal 20px/30px Roboto;
    color: #94B397;
    }

    .farmer-div-5 h3 {
    position: absolute;
    width: 200%;
    height: 2.5%;
    left: 10.61%;
    top: 404.67%;
    text-align: center;
    font: normal normal 20px/30px Roboto;
    color: #3E5140;
    }

    .farmer-div-5 h5 {
    position: absolute;
    width: 200%;
    height: 2.5%;
    left: 10.61%;
    top: 413.72%;
    text-align: center;
    font: normal normal 14px/30px Roboto;
    color: #3E5140;
    }
    
    .farmer-div-6 img{
    position: absolute;
    width: 215%;
    height: 50.06%;
    left: 2.61%;
    top: 430%;
    border-radius: 20px;
    }

    .farmer-div-6 h1 {
    position: absolute;
    width: 200%;
    height: 7.03%;
    left: 11.61%;
    top: 471.91%;
    font: normal bold 36px/70px Roboto;
    color: #000000;
    }

    .farmer-div-6 p {
    position: absolute;
    width: 200%;
    height: 5.23%;
    left: 10.61%;
    top: 479.43%;
    text-align: center;
    font: normal normal 20px/30px Roboto;
    color: #94B397;
    }

    .farmer-div-6 h3 {
    position: absolute;
    width: 200%;
    height: 2.5%;
    left:10.61%;
    top: 490.67%;
    text-align: center;
    font: normal normal 20px/30px Roboto;
    color: #3E5140;
    }

    .farmer-div-6 h5 {
    position: absolute;
    width: 200%;
    height: 2.5%;
    left: 10.61%;
    top: 499.72%;
    text-align: center;
    font: normal normal 14px/30px Roboto;
    color: #3E5140;
    }
}

@media only screen and (min-width:375px) and (max-width:410px) {
    .projects-div {
    position: absolute;
    width: 100%;
    height: 1100px;
    left: 0;
    }

    .farmer-div-1 img{
    position: absolute;
    width: 215%;
    height: 50.06%;
    left: 2.61%;
    top: 0%;
    border-radius: 20px;
    }

    .farmer-div-1 h1 {
    position: absolute;
    width: 200%;
    height: 7.03%;
    left: 42.61%;
    top: 42.91%;
    font: normal bold 56px/70px Roboto;
    color: #000000;
    }

    .farmer-div-1 p {
    position: absolute;
    width: 200%;
    height: 5.23%;
    left: 8.61%;
    top: 49.43%;
    text-align: center;
    font: normal normal 20px/30px Roboto;
    color: #94B397;
    }

    .farmer-div-1 h3 {
    position: absolute;
    width: 200%;
    height: 2.5%;
    left: 10.61%;
    top: 52.67%;
    text-align: center;
    font: normal normal 20px/30px Roboto;
    color: #3E5140;
    }

    .farmer-div-1 h5 {
    position: absolute;
    width: 200%;
    height: 2.5%;
    left: 10.61%;
    top: 57.72%;
    text-align: center;
    font: normal normal 14px/30px Roboto;
    color: #3E5140;
    }
    
    .farmer-div-2 img{
    position: absolute;
    width: 215%;
    height: 50.06%;
    left: 2.61%;
    top: 76%;
    border-radius: 20px;
    }

    .farmer-div-2 h1 {
    position: absolute;
    width: 200%;
    height: 7.03%;
    left: 30.61%;
    top: 118.91%;
    font: normal bold 56px/70px Roboto;
    color: #000000;
    }

    .farmer-div-2 p {
    position: absolute;
    width: 200%;
    height: 5.23%;
    left: 8.61%;
    top: 125.43%;
    text-align: center;
    font: normal normal 20px/30px Roboto;
    color: #94B397;
    }

    .farmer-div-2 h3 {
    position: absolute;
    width: 200%;
    height: 2.5%;
    left: 10.61%;
    top: 128.67%;
    text-align: center;
    font: normal normal 20px/30px Roboto;
    color: #3E5140;
    }

    .farmer-div-2 h5 {
    position: absolute;
    width: 200%;
    height: 2.5%;
    left: 10.61%;
    top: 133.72%;
    text-align: center;
    font: normal normal 14px/30px Roboto;
    color: #3E5140;
    }
    
    .farmer-div-3 img{
    position: absolute;
    width: 215%;
    height: 50.06%;
    left: 2.61%;
    top: 152%;
    border-radius: 20px;
    }

    .farmer-div-3 h1 {
    position: absolute;
    width: 200%;
    height: 7.03%;
    left: 38.61%;
    top: 194.91%;
    font: normal bold 56px/70px Roboto;
    color: #000000;
    }

    .farmer-div-3 p {
    position: absolute;
    width: 200%;
    height: 5.23%;
    left: 10.61%;
    top: 201.43%;
    text-align: center;
    font: normal normal 20px/30px Roboto;
    color: #94B397;
    }

    .farmer-div-3 h3 {
    position: absolute;
    width: 200%;
    height: 2.5%;
    left: 10.61%;
    top: 204.67%;
    text-align: center;
    font: normal normal 20px/30px Roboto;
    color: #3E5140;
    }

    .farmer-div-3 h5 {
    position: absolute;
    width: 200%;
    height: 2.5%;
    left: 10.61%;
    top: 209.72%;
    text-align: center;
    font: normal normal 14px/30px Roboto;
    color: #3E5140;
    }
    
    .farmer-div-4 img{
    position: absolute;
    width: 215%;
    height: 50.06%;
    left: 2.61%;
    top: 228%;
    border-radius: 20px;
    }

    .farmer-div-4 h1 {
    position: absolute;
    width: 200%;
    height: 7.03%;
    left: 40.61%;
    top: 270.91%;
    font: normal bold 56px/70px Roboto;
    color: #000000;
    }

    .farmer-div-4 p {
    position: absolute;
    width: 200%;
    height: 5.23%;
    left: 10.61%;
    top: 277.43%;
    text-align: center;
    font: normal normal 20px/30px Roboto;
    color: #94B397;
    }

    .farmer-div-4 h3 {
    position: absolute;
    width: 200%;
    height: 2.5%;
    left: 9.61%;
    top: 280.67%;
    text-align: center;
    font: normal normal 20px/30px Roboto;
    color: #3E5140;
    }

    .farmer-div-4 h5 {
    position: absolute;
    width: 200%;
    height: 2.5%;
    left: 10.61%;
    top: 285.72%;
    text-align: center;
    font: normal normal 14px/30px Roboto;
    color: #3E5140;
    }
    
    .farmer-div-5 img{
    position: absolute;
    width: 215%;
    height: 50.06%;
    left: 2.61%;
    top: 304%;
    border-radius: 20px;
    }

    .farmer-div-5 h1 {
    position: absolute;
    width: 200%;
    height: 7.03%;
    left: 38.61%;
    top: 346.91%;
    font: normal bold 56px/70px Roboto;
    color: #000000;
    }

    .farmer-div-5 p {
    position: absolute;
    width: 200%;
    height: 5.23%;
    left: 10.61%;
    top: 353.43%;
    text-align: center;
    font: normal normal 20px/30px Roboto;
    color: #94B397;
    }

    .farmer-div-5 h3 {
    position: absolute;
    width: 200%;
    height: 2.5%;
    left: 10.61%;
    top: 356.67%;
    text-align: center;
    font: normal normal 20px/30px Roboto;
    color: #3E5140;
    }

    .farmer-div-5 h5 {
    position: absolute;
    width: 200%;
    height: 2.5%;
    left: 10.61%;
    top: 361.72%;
    text-align: center;
    font: normal normal 14px/30px Roboto;
    color: #3E5140;
    }
    
    .farmer-div-6 img{
    position: absolute;
    width: 215%;
    height: 50.06%;
    left: 2.61%;
    top: 380%;
    border-radius: 20px;
    }

    .farmer-div-6 h1 {
    position: absolute;
    width: 200%;
    height: 7.03%;
    left: 30.61%;
    top: 422.91%;
    font: normal bold 56px/70px Roboto;
    color: #000000;
    }

    .farmer-div-6 p {
    position: absolute;
    width: 200%;
    height: 5.23%;
    left: 10.61%;
    top: 429.43%;
    text-align: center;
    font: normal normal 20px/30px Roboto;
    color: #94B397;
    }

    .farmer-div-6 h3 {
    position: absolute;
    width: 200%;
    height: 2.5%;
    left:10.61%;
    top: 432.67%;
    text-align: center;
    font: normal normal 20px/30px Roboto;
    color: #3E5140;
    }

    .farmer-div-6 h5 {
    position: absolute;
    width: 200%;
    height: 2.5%;
    left: 10.61%;
    top: 437.72%;
    text-align: center;
    font: normal normal 14px/30px Roboto;
    color: #3E5140;
    }
}

@media only screen and (max-width:374px) {
    .projects-div {
    position: absolute;
    width: 100%;
    height: 1100px;
    left: 0;
    }

    .farmer-div-1 img{
    position: absolute;
    width: 215%;
    height: 50.06%;
    left: 2.61%;
    top: 0%;
    border-radius: 20px;
    }

    .farmer-div-1 h1 {
    position: absolute;
    width: 200%;
    height: 7.03%;
    left: 42.61%;
    top: 42.91%;
    font: normal bold 56px/70px Roboto;
    color: #000000;
    }

    .farmer-div-1 p {
    position: absolute;
    width: 200%;
    height: 5.23%;
    left: 8.61%;
    top: 49.43%;
    text-align: center;
    font: normal normal 20px/30px Roboto;
    color: #94B397;
    }

    .farmer-div-1 h3 {
    position: absolute;
    width: 200%;
    height: 2.5%;
    left: 10.61%;
    top: 52.67%;
    text-align: center;
    font: normal normal 20px/30px Roboto;
    color: #3E5140;
    }

    .farmer-div-1 h5 {
    position: absolute;
    width: 200%;
    height: 2.5%;
    left: 10.61%;
    top: 57.72%;
    text-align: center;
    font: normal normal 14px/30px Roboto;
    color: #3E5140;
    }
    
    .farmer-div-2 img{
    position: absolute;
    width: 215%;
    height: 50.06%;
    left: 2.61%;
    top: 76%;
    border-radius: 20px;
    }

    .farmer-div-2 h1 {
    position: absolute;
    width: 200%;
    height: 7.03%;
    left: 30.61%;
    top: 118.91%;
    font: normal bold 56px/70px Roboto;
    color: #000000;
    }

    .farmer-div-2 p {
    position: absolute;
    width: 200%;
    height: 5.23%;
    left: 8.61%;
    top: 125.43%;
    text-align: center;
    font: normal normal 20px/30px Roboto;
    color: #94B397;
    }

    .farmer-div-2 h3 {
    position: absolute;
    width: 200%;
    height: 2.5%;
    left: 10.61%;
    top: 128.67%;
    text-align: center;
    font: normal normal 20px/30px Roboto;
    color: #3E5140;
    }

    .farmer-div-2 h5 {
    position: absolute;
    width: 200%;
    height: 2.5%;
    left: 10.61%;
    top: 133.72%;
    text-align: center;
    font: normal normal 14px/30px Roboto;
    color: #3E5140;
    }
    
    .farmer-div-3 img{
    position: absolute;
    width: 215%;
    height: 50.06%;
    left: 2.61%;
    top: 152%;
    border-radius: 20px;
    }

    .farmer-div-3 h1 {
    position: absolute;
    width: 200%;
    height: 7.03%;
    left: 38.61%;
    top: 194.91%;
    font: normal bold 56px/70px Roboto;
    color: #000000;
    }

    .farmer-div-3 p {
    position: absolute;
    width: 200%;
    height: 5.23%;
    left: 10.61%;
    top: 201.43%;
    text-align: center;
    font: normal normal 20px/30px Roboto;
    color: #94B397;
    }

    .farmer-div-3 h3 {
    position: absolute;
    width: 200%;
    height: 2.5%;
    left: 10.61%;
    top: 204.67%;
    text-align: center;
    font: normal normal 20px/30px Roboto;
    color: #3E5140;
    }

    .farmer-div-3 h5 {
    position: absolute;
    width: 200%;
    height: 2.5%;
    left: 10.61%;
    top: 209.72%;
    text-align: center;
    font: normal normal 14px/30px Roboto;
    color: #3E5140;
    }
    
    .farmer-div-4 img{
    position: absolute;
    width: 215%;
    height: 50.06%;
    left: 2.61%;
    top: 228%;
    border-radius: 20px;
    }

    .farmer-div-4 h1 {
    position: absolute;
    width: 200%;
    height: 7.03%;
    left: 40.61%;
    top: 270.91%;
    font: normal bold 56px/70px Roboto;
    color: #000000;
    }

    .farmer-div-4 p {
    position: absolute;
    width: 200%;
    height: 5.23%;
    left: 10.61%;
    top: 277.43%;
    text-align: center;
    font: normal normal 20px/30px Roboto;
    color: #94B397;
    }

    .farmer-div-4 h3 {
    position: absolute;
    width: 200%;
    height: 2.5%;
    left: 9.61%;
    top: 280.67%;
    text-align: center;
    font: normal normal 20px/30px Roboto;
    color: #3E5140;
    }

    .farmer-div-4 h5 {
    position: absolute;
    width: 200%;
    height: 2.5%;
    left: 10.61%;
    top: 285.72%;
    text-align: center;
    font: normal normal 14px/30px Roboto;
    color: #3E5140;
    }
    
    .farmer-div-5 img{
    position: absolute;
    width: 215%;
    height: 50.06%;
    left: 2.61%;
    top: 304%;
    border-radius: 20px;
    }

    .farmer-div-5 h1 {
    position: absolute;
    width: 200%;
    height: 7.03%;
    left: 38.61%;
    top: 346.91%;
    font: normal bold 56px/70px Roboto;
    color: #000000;
    }

    .farmer-div-5 p {
    position: absolute;
    width: 200%;
    height: 5.23%;
    left: 10.61%;
    top: 353.43%;
    text-align: center;
    font: normal normal 20px/30px Roboto;
    color: #94B397;
    }

    .farmer-div-5 h3 {
    position: absolute;
    width: 200%;
    height: 2.5%;
    left: 10.61%;
    top: 356.67%;
    text-align: center;
    font: normal normal 20px/30px Roboto;
    color: #3E5140;
    }

    .farmer-div-5 h5 {
    position: absolute;
    width: 200%;
    height: 2.5%;
    left: 10.61%;
    top: 361.72%;
    text-align: center;
    font: normal normal 14px/30px Roboto;
    color: #3E5140;
    }
    
    .farmer-div-6 img{
    position: absolute;
    width: 215%;
    height: 50.06%;
    left: 2.61%;
    top: 380%;
    border-radius: 20px;
    }

    .farmer-div-6 h1 {
    position: absolute;
    width: 200%;
    height: 7.03%;
    left: 30.61%;
    top: 422.91%;
    font: normal bold 56px/70px Roboto;
    color: #000000;
    }

    .farmer-div-6 p {
    position: absolute;
    width: 200%;
    height: 5.23%;
    left: 10.61%;
    top: 429.43%;
    text-align: center;
    font: normal normal 20px/30px Roboto;
    color: #94B397;
    }

    .farmer-div-6 h3 {
    position: absolute;
    width: 200%;
    height: 2.5%;
    left:10.61%;
    top: 432.67%;
    text-align: center;
    font: normal normal 20px/30px Roboto;
    color: #3E5140;
    }

    .farmer-div-6 h5 {
    position: absolute;
    width: 200%;
    height: 2.5%;
    left: 10.61%;
    top: 437.72%;
    text-align: center;
    font: normal normal 14px/30px Roboto;
    color: #3E5140;
    }
}