body {
    width: 100vw;
    margin: 0;
    padding: 0;
    height: 5958px;
    top: 0%;
    background-color: #E5FFEE;
}

.main-navigation-div {
    position: fixed;
    top: 0%;
    width: 100%;
    height: 70px;
    left: 0px;
    z-index: +1;
    background-color: #E5FFEE;
}

.navigation-bar-logo {
    position: absolute;
    width: 65px;
    height: 53px;
    left: 90px;
    top: 15.56%;
}

.navigation-bar-ul {
    list-style: none;
}

.navigation-bar-ul a {
    font: normal 500 18px/21px Roboto;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    color: #272D4E;
}

.navigation-bar-logo-li:hover,
.navigation-bar-ul a:hover,
.get-started-button:hover {
    color: #8a390b;
    opacity: 0.9;
}

.navigation-bar-home {
    position: absolute;
    width: 49px;
    height: 21px;
    left: 368px;
    top: 35.56%;
}

.navigation-bar-about {
    position: absolute;
    width: 73px;
    height: 21px;
    left: 444px;
    top: 35.56%;
}

.navigation-bar-contact {
    position: absolute;
    width: 107px;
    height: 21px;
    left: 551px;
    top: 35.56%;
}

.navigation-bar-project {
    position: absolute;
    width: 107px;
    height: 21px;
    left: 671px;
    top: 35.56%;
}

.navigation-bar-log-in {
    position: absolute;
    width: 70px;
    height: 21px;
    right: 15.49%;
    top: 35.56%;
}

.get-started-button {
    position: absolute;
    width: 107px;
    height: 40px;
    right: 6.36%;
    top: 24.56%;
    border: none;
    font: normal 500 18px/21px Roboto;
    background: #70C217;
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
}

.navigation-search-bar {
    position: absolute;
    width: 18px;
    height: 18px;
    right: 40px;
    top: 38.89%;
}


/* Mobile Styles */

@media only screen and (max-width: 768px) {
    .main-navigation-div {
        background: #E5E5E5;
        background: linear-gradient(180deg, #E5FFEE 0%, rgba(229, 239, 255, 0.262661) 83.7%, rgba(249, 249, 249, 0) 100%);
        position: fixed;
        top: 0%;
        width: 100%;
        height: 80px;
        left: 0px;
        z-index: +1;
    }
    .navigation-bar-logo {
        width: 65px;
        height: 53px;
        left: 3rem;
        top: 1rem;
    }
    .navigation-bar-ul {
        list-style: none;
    }
    .navigation-bar-ul a {
        font: normal 500 18px/21px Roboto;
        display: flex;
        align-items: flex-end;
        text-decoration: none;
        color: #272D4E;
    }
    .navigation-bar-logo-li:hover,
    .navigation-bar-ul a:hover,
    .get-started-button:hover {
        color: #8a390b;
        opacity: 0.9;
    }
    .navigation-bar-home {
        position: absolute;
        width: 26.13%;
        height: 17px;
        left: 17.33%;
        top: 25.4%;
        text-align: center;
    }
    .navigation-bar-about {
        position: absolute;
        width: 50%;
        height: 17px;
        left: 17.33%;
        top: 37%;
    }
    .navigation-bar-contact {
        position: absolute;
        width: 66.13%;
        height: 17px;
        left: 17.33%;
        top: 49.6%;
    }
    .navigation-bar-project {
        position: absolute;
        width: 80.47%;
        height: 17px;
        top: 62%;
        left: 17.33%;
    }
    .navigation-bar-log-in {
        position: absolute;
        width: 80.47%;
        height: 17px;
        top: 74%;
        left: 17.33%;
    }
    .get-started-button {
        position: absolute;
        width: 60.8%;
        height: 27px;
        top: 84%;
        left: 17.33%;
        border: none;
        font: normal 500 18px/21px Roboto;
        background: #70C217;
        color: #FFF;
        border-radius: 5px;
        cursor: pointer;
    }
    .navigation-search-bar {
        position: absolute;
        width: 18px;
        height: 18px;
        left: 17.33%;
        top: 10%;
    }
}