body {
    width: 100%;
    margin: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.farmers-main-div {
    display: block;
    width: 100%;
    margin: auto;
    left: 0;
    text-align: center;
    margin-top: 114px;
}
  
.farmers-div-1 {
    display: inline-block;
    width: 94%;
    height: 18.41%;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}
  
.adaobi-profile-img {
    display: block;
    width: 94%;
    height: 53.88%;
    margin-left: 5%;
    margin-top: 5%;
    border-radius: 20px;
}

.adaobi-profile-left {
    float: left;
    width: 50.94%;
}
  
.adaobi-profile-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 94%;
    height: 17.74%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}
  
.adaobi-profile-img1 {
    width: 30%;
    height: 17.74%;
    left: 1.59%;
    top: 64.14%;
    border-radius: 20px;
}
    
.adaobi-profile-img2 {
    width: 30%;
    height: 17.74%;
    left: 1.59%;
    top: 64.14%;
    border-radius: 20px;
}
  
.adaobi-profile-img3 {
    width: 30%;
    height: 17.74%;
    left: 79.72%;
    top: 64.14%;
    border-radius: 20px;
}

.adaobi-profile-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 46%;
    text-align: left;
    margin-left: 3%;
    margin-top: 3%;
    float: right;
}
  
.adaobi-profile-h1 {
    width: 100%;
    height: 8.42%;
    font: normal 700 48px/70px Roboto;
    color: #000000;
}
  
.adaobi-profile-pragraph-text {
    width: 100%;
    height: 10.48%;
    font: normal normal 36px/40px Roboto;
    color: #94B397;
}
  
.adaobi-profile-needed {
    width: 100%;
    height: 10.48%;
    font: normal normal 33px/30px Roboto;
    color: #3E5140;
}
  
.adaobi-profile-raised {
    width: 100%;
    height: 10.48%;
    margin-top: 2%;
    font: normal normal 25px/30px Roboto;
    color: #3E5140;
}
  
.profile-fund-project-button {
    width: 36%;
    padding: 25px;
    margin-top: 6%;
    border: none;
    background: #70C217;
    text-align: center;
    color: #FFF;
    border-radius: 60px;
    font: normal 500 18px/21px Roboto;
    cursor: pointer;
    outline: none;
}
  
.consultancy-acrotag {
    width: 100%;
    height: 8.74%;
    padding-right: 5%;
    font: normal bold 18px/21px Roboto;
    text-decoration: none;
    color: #70C217;
}
    
.farmer-auxil-div {
    display: block;
    clear: both;
    width: 94%;
    max-height: fit-content;
    margin: auto;
    margin-top: 30px;
    text-align: center;
}

.farmers-prim-div {
    clear: both;
    width: 64%;
    float: left;
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin-bottom: 20px;
}
  
.about-project-text {
    width: 23.29%;
    margin-top: 4%;
    font: normal bold 18px/110.10% Roboto;
    color: #000000;
}
  
.updates-text {
    width: 13.29%;
    height: 8.74%;
    margin-top: -2.2%;
    margin-left: 20%;
    font: normal bold 18px/110.10% Roboto;
    color: #7E7E7E;
}
  
.about-projects-paragraph-text {
    width: 91.43%;
    height: 24.16%;
    text-align: left;
    margin-left: 5.02%;
    top: 6.71%;
    font: normal normal 19px/30px Roboto;
    color: #222121;
}
  
.about-project-img {
    width: 90.40%;
    margin-bottom: 30%;
}

.project-undered-lists {
    display: flex;
    width: 100%;
}
  
.about-project-list {
    width: fit-content;
    text-align: left;
    margin-left: 19.44%;
    margin-top: -18%;
    margin-bottom: 20px;
    list-style-type: disc;
    font: normal bold 19px/50px Roboto;
    color: #222121;
}
  
.about-project-list1 {
    width: fit-content;
    text-align: left;
    margin-left: 15%;
    margin-top: -18%;
    margin-bottom: 80px;
    list-style-type: disc;
    font: normal bold 19px/50px Roboto;
    color: #222121;
}
  
.farmers-sec-div {
    width: 33%;
    float: right;
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}
  
.reviews-text {
    width: 13.29%;
    margin-left: 4%;
    margin-top: 6%;
    text-align: left;
    font: normal bold 18px/110.10% Roboto;
    color: #000000;
}

.projects-div {
    clear: both;
}

.similar-projects-text {
    width: 100%;
    margin-top: 120px;
    font: normal bold 54px/70px Roboto;
    text-align: center;
    color: #000000;
}
    
.farmer-projects-div {
    width: 94%;
    margin-left: 3%;
}

  