body {
    margin: 0;
    padding: 0;
    background: #E5E5E5;
}

.dashboard-div {
    width: 100%;
    margin-top: 4.5rem;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.dashboard-side-bar{
    width: 100px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #94B397;
    margin-top: -24rem;
}

.dashboard-side-bar ul img {
    margin: 2rem;
    Width: 66.67px;
    Height: 46.67px;
}

.dashboard-side-bar ul img:hover {
    border-right: 6px solid #17C270;
    color: #17C270;
}
.dashboard-side-bar ul img:focus {
    border-right: 8px solid #17C270;
    color: #17C270;
}
.dashboard-side-bar ul img:active {
    border-right: 8px solid #17C270;
    color: #17C270;
}
.dashboard-side-bar ul img:target {
    border-right: 8px solid #17C270;
    color: #17C270;
}

.welcome-message-div {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 4rem 0 0 2rem;
}
.welcome-message {
    font: bold normal 40px/70px Roboto;
    color: #272D4E;
}
h2 {
    font: normal normal 25px/30px Roboto;
    color: #94B397;
    position: relative;
    top: -5.3rem;
}

.income-board-div {
    display: flex;
    height: fit-content;
    flex-direction: row;
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    border-radius: 60px;
    margin: 14rem 1.5rem 1rem -12rem;
    text-align: center;
}

.total-income-div {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 2rem;
    margin: 0 1rem;
}

.total-income-div h6 {
    width: 180px;
    font: normal normal 20px/10px Roboto;
    color: #94B397;
}

.total-income-div h3 {
    font: bold normal 35px/30px Roboto;
    color: #000;
}

.total-income-div h5 {
    font: bold normal 18px/70px Roboto;
}

.total-income-h6,
.total-profit-h6 {
    color: #0EEA24;
}

.total-deposit-h6 {
    color: #EA420E;
}

.user-data-div {
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    border-radius: 60px;
    margin-top: 14rem;
    margin-bottom: 2rem;
}
.dashboard-profile-img-div {
    width: 150px;
    height: 150px;
    align-self: center;
    border-radius: 50%;
    background-color: #DFDADA;
    margin-top: 4rem;
    background-image: url('../Assets/profile-avatar.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.dashboard-profile-details-div {
    margin-top: 4rem;
}

.dashboard-profile-details-div h2 {
    font: normal normal 22px/30px Roboto;
    margin-bottom: -2rem;
    text-transform: capitalize;
}

.dashboard-profile-details-div .name {
    font: bolder normal 44px/50px Roboto;
    color: #000;
}

.total-profit-chart-div {
    clear: both;
    display: block;
}

.profit-chart-div {
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    border-radius: 60px;
}

@media only screen and (max-width: 768px) {
    .info {
        margin-bottom: 1rem;
    }
    p {
        font: normal bolder 10px/110.19% Arial;
    }
}