body {
    margin: 0;
    padding: 0;
    width: max-content;
    text-align: center;
}

.projects-div {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.farmer-div-1 img,
.farmer-div-2 img,
.farmer-div-3 img,
.farmer-div-4 img,
.farmer-div-5 img,
.farmer-div-6 img {
    width: 24rem;
    margin-top: 60px;
    border-radius: 20px;
}

.farmer-div-1 h1,
.farmer-div-2 h1,
.farmer-div-3 h1,
.farmer-div-4 h1,
.farmer-div-5 h1,
.farmer-div-6 h1 {
    display: inline-block;
    width: 21rem;
    height: 7.03%;
    font: normal bold 34px/70px Roboto;
    color: #000000;
}

.farmer-div-1 p,
.farmer-div-2 p,
.farmer-div-3 p,
.farmer-div-4 p,
.farmer-div-5 p,
.farmer-div-6 p {
    width: 23rem;
    height: 5.23%;
    margin-top: -30px;
    font: normal normal 20px/30px Roboto;
    color: #94B397;
}

.farmer-div-1 h3,
.farmer-div-2 h3,
.farmer-div-3 h3,
.farmer-div-4 h3,
.farmer-div-5 h3,
.farmer-div-6 h3 {
    width: 22rem;
    height: 2.5%;
    font: normal normal 20px/30px Roboto;
    color: #3E5140;
}

.farmer-div-1 h5,
.farmer-div-2 h5,
.farmer-div-3 h5,
.farmer-div-4 h5,
.farmer-div-5 h5,
.farmer-div-6 h5 {
    width: 22rem;
    height: 2.5%;
    font: normal normal 18px/30px Roboto;
    color: #3E5140;
}



@media only screen and (max-width: 425px) {
    .farmer-div-1 img,
    .farmer-div-2 img,
    .farmer-div-3 img,
    .farmer-div-4 img,
    .farmer-div-5 img,
    .farmer-div-6 img {
        width: 90%;
        margin-top: 60px;
        border-radius: 20px;
    }

    .farmer-div-1 p,
    .farmer-div-2 p,
    .farmer-div-3 p,
    .farmer-div-4 p,
    .farmer-div-5 p,
    .farmer-div-6 p {
        width: 100%;
        height: 5.23%;
        margin-top: -30px;
        font: normal normal 18px/30px Roboto;
        color: #94B397;
    }
}